

.login-layout  {
background-image:url(../images/bg-login.png);
background-position:center top;
background-size:cover;
/*background-color:transparent !important;*/
background-color:#fdfdfd !important;
background-repeat: no-repeat;
font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 13px;
    color: #393939;
    line-height: 1.5;
padding-top:100px;

}

.widget-main h1{
background-image:url(../images/img_login_logo.png);
background-position:center top;
background-repeat:no-repeat;
background-color:transparent !important;
height:55px;
margin-top:0;
}
.widget-main h4 {
	 padding-top: 30px;
    color: #FFF!important;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;

}
h4.left{
	text-align: left!important;
	padding-top:0!important;
}

.login-layout .widget-box,
.login-layout .widget-box.visible {
    visibility: inherit !important;
	background-color:transparent;
}

.login-layout fieldset { background-color:transparent; border:none;
padding:0;}

.login-layout .btn {
	width: 100%;
    height: 39px;
}

/* LOGIN NOMENCLATURA -----------------------------*/
.login-container {
	width:520px;
	margin: 55px auto!important;
}
.login_logo_container {
	width:100%;
	display:table;
	padding:8px;
	background-position: 10px;
	background-repeat:no-repeat;
	padding: 5px;
	margin-bottom:-5px;
	margin-top:-5px;
}
.login_logo_container .login_logo_text{
	display:table-cell;
	vertical-align:middle;
}
.login_logo_tablero {
	font-size: 14px;
	color: #FFF;
	margin-bottom:0;
	text-align:center;
}
.login_logo_entidad {
	font-size: 19px;
	font-weight:bold;
	color: #039CE5;
	text-transform: uppercase;
	margin-top:-2px;
	line-height:16px;
	text-align:center;
}
.login-logo{
	display: block;
    position: absolute;
    width: 102px;
    height: 102px;
    margin-top: -115px;
    margin-left: 31%;
    background-image: url(../images/login_paisDigital.png);
    z-index: 99999;
}
.login-logo.we-tech{
	display: block;
    position: absolute;
    width: 250px;
    height: 152px;
    margin-top: -150px;
    margin-left: 17%;
    background-image: url(../images/01-WeTech-logo-1.png)!important;
    z-index: 99999;
    background-repeat: no-repeat;
    background-position: center;;
}
.login-info{
	color: #5e5288;
    font-size: 15px;
    margin-top: 44px;
    text-align: center;
    font-weight: 800;
}

.login-layout .widget-box .widget-main, .widget-body{
	background-color: transparent!important;
	background: transparent!important;
}
.login-box .btn{
	border-radius: 4px;
}
.login-box .btn-action-brand{
	background-color: #0589c5!important;
    border-color: #0589c5 !important;
}
.btn-primary:hover{
	background-color: #0589c5!important;
    border-color: #0589c5 !important;
}

button.btn:active{
	top:0;
}
.flagWhite:active{
	background-color: #FFF!important;
}
.forgot-pass a{
	margin-left: 35px;
	color:#FFF!important;
}
.login-box .input-group{
	margin-bottom: 22px;
	   width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.login-box .form-control{
	border:none!important;
	background-color: transparent!important;

}

.login-box .input-group-addon.bg-addon{
	background-color: transparent!important;
	border-color: transparent!important;
}

.login-box input:-webkit-autofill,
.login-box input:-webkit-autofill:hover,
.login-box input:-webkit-autofill:focus
.login-box input:-webkit-autofill{

  -webkit-text-fill-color: #1b6aaa!important;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset!important;
  transition: background-color 5000s ease-in-out 0s!important;
}

.login-msg .alert{
	position: absolute!important;
    margin-right: -230px!important;
    top: -60px!important;
    width: 465px!important;
    padding: 15px 10px 15px 30px;
    display: block;

}

.login-layout .widget-box.visible{visibility:visible;position:relative;z-index:auto;-moz-transform:scale(1,1) translate(0);-webkit-transform:scale(1,1) translate(0);-o-transform:scale(1,1) translate(0);-ms-transform:scale(1,1) translate(0);transform:scale(1,1) translate(0);transition:transform .3s ease;-moz-transition:-moz-transform .3s ease;-webkit-transition:-webkit-transform .3s ease;-o-transition:-o-transform .2s ease}
.login-layout .login-box .widget-main{padding-bottom:16px}
.login-layout .widget-box .widget-main{padding:16px 36px 36px;background:#F7F7F7}