// Use for variables of colors and sizes that will be used repeatedly in the site.

// Sample vars, remove if not needed!
$font:'Open Sans', sans-serif;
$brand: 'Open Sans', sans-serif;
$parragraph: 'Open Sans', sans-serif;
$font-nav:'Open Sans', sans-serif;
$roboto:"Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$lato:'Lato', sans-serif;
$poppins:'Poppins', sans-serif;

$black: #000;
$dark_text: #262626;
$light_text: #e2e2e2;

$border: solid 1px #ccc;
$color-brand: #a27137;
$color-text: #bcbcbc;
$color-white:#fcfcfc;
$color-dark-bar:#3b3e47;
$color-text-sidebar:#96979a;

$brand-color: #0695d6;
$secondary-color:#0589c5;
$red-hover:#d1333d;

$hover-menu:#464850;
$selected-sub-menu:#f2f3f8;
//Semaforo colores

$gris: #95A5A6;
$verde: #11b20d;
$amarillo: #f3c200;
$rojo: #e43a45;
$perla: #676c7b;
$blue-terminados:#3598dc;
$grupo:#FD9A00;